* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: black;
    color: white;
}

/*MENU*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-image: url(../Picture/nền.jpg);
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 120px;
    width: 100%;
}

.login,
.navbar {
    display: flex;
}

.login-list,
.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.login-link,
.nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}


/*HOME */

.hero {
    background-image: url(../Picture/nền.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 40px;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-title {
    font-size: 64px;
    font-family: cursive;
}

.hero-btn {
    border: none;
    border-radius: 20px;
    background-color: #97c3f3;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
}

/*ABOUT */

.about {
    height: 100vh;
    padding: 50px;
}


.about-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.conten {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.about-text {
    flex: 1;
    font-size: 16px;
    line-height: 1.6;
}


/*PRODUCT*/

.product {
    padding: 50px;
    height: 200vh;

}

.section-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1200px;
}

.product-item {
    display: flex;
    flex-direction: column;
    height: 280px;
    border-radius: 10px;
    background-color: #1a1a1a;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}

.product-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.product-item h3{
    margin: 20px 0;
    
}
.product-item a {
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 10px;
    text-decoration: none;
}

/*CONTACT*/

.footer {
    background-color: #0d1b2a;
    color: white;
    padding: 30px 0;
    text-align: center;
}

.footer-container {
    max-width: 800px;
    margin: auto;
}

.footer-col h3 {
    margin-bottom: 10px;
}

/*REGISTER*/

.Register {
    background-color: rgb(201, 201, 254);
    color: black;
    margin: 50px 0;
}
.modal {
    width: 400px;
    background: #fff;
    margin: 100px auto;
    border-radius: 12px;
    padding: 20px;
}
.modal h2 {
    text-align: center;
    margin-bottom: 20px;
}
.modal input[type="text"],
.modal input[type="password"] {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccd0d5;
    border-radius: 8px;
    font-size: 16px;
  
}
.btn-login {
    width: 100%;
    padding: 14px;
    background: #1877f2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}

.btn-login:hover {
    background: #166fe5;
}
.btn-login a {
    color: white;
    text-decoration: none;
}



